    <!DOCTYPE html>
    <html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Lista de Juegos</title>
        <link rel="stylesheet" href="../css/estilo.css">
        <link rel="stylesheet" href="../css/estiloRolas.css">
    </head>
    <body>

        <div class="table-container">
            <table>
                <thead>
                    <tr>
                        <th>---</th>
                        <th>Artista</th>
                        <th>Generos</th>
                        <th>Canción Favorita</th>
                        
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="poster-cell">
                            <div class="movie-poster">
                                <div class="movie-poster-inner">
                                    <div class="movie-poster-front">
                                        <img src="https://static.wikia.nocookie.net/nicodougasingers/images/b/b8/2025.01_%281_-_v1%29.jpg/revision/latest?cb=20250126182908" alt="Ado">
                                    </div>
                                    <div class="movie-poster-back"><a href="https://www.youtube.com/channel/UCln9P4Qm3-EAY4aiEPmRwEA" target="_blank">Ado</a></div>
                                </div>
                            </div>
                        </td>
                    
                        <td>
                            <div class="movie-title">Ado</div>
                            
                        </td>
                        <td><p class="mediopro">J-Pop <br>Rock Alternativo</p></td>
                        <td><a target="_blank   " href="https://music.youtube.com/watch?v=eHTeP9QQ_fs&si=84ownOp5rCD8FPVp"><img style="border-radius: 50%; " src="https://cdn-images.dzcdn.net/images/cover/9fc9754c69922d82d8b23e3ce6c19805/1900x1900-000000-80-0-0.jpg" class="imagen-giratoria"> </a></td>
                    </tr>

                   <tr>
                        <td class="poster-cell">
                            <div class="movie-poster">
                                <div class="movie-poster-inner">
                                    <div class="movie-poster-front">
                                        <img src="https://lastfm.freetls.fastly.net/i/u/ar0/fad8de79a89641868ceb35f4a3d977fe.jpg" alt="3rd Coast">
                                    </div>
                                    <div class="movie-poster-back"><a href="https://www.youtube.com/@DJMAXARCHIVE" target="_blank">3rd Coast aka DJMAXARCHIVE</a></div>
                                </div>
                            </div>
                        </td>
                    
                        <td>
                            <div class="movie-title">3rd Coast / DJMAX</div>
                            
                        </td>
                        <td><p class="mediopro">Acid Jazz<br> Pop<br>Funky House</p></td>
                        <td><a target="_blank   " href="https://music.youtube.com/watch?v=nfxR91-WtgQ&si=8dNunyO_Wtoj_A38"><img style="border-radius: 50%; " src="https://static.wikia.nocookie.net/tapsonic-top/images/0/06/My_jealousy.png/revision/latest?cb=20210509025618" class="imagen-giratoria"> </a></td>
                    </tr>


                    <tr>
                        <td class="poster-cell">
                            <div class="movie-poster">
                                <div class="movie-poster-inner">
                                    <div class="movie-poster-front">
                                        <img src="https://static.wikia.nocookie.net/jpop/images/4/41/Haku_-_Naive_Girl.png/revision/latest?cb=20241125225218" alt="Haku">
                                    </div>
                                    <div class="movie-poster-back"><a href="https://www.youtube.com/channel/UCk4hvA968aQhw32R9lV5svg" target="_blank">Haku</a></div>
                                </div>
                            </div>
                        </td>
                    
                        <td>
                            <div class="movie-title">Haku</div>
                            
                        </td>
                        <td><p class="mediopro">J-Rock<br> Indie Rock<br> Pop</p></td>
                        <td><a target="_blank   " href="https://music.youtube.com/watch?v=5qPK5m_rIUU&si=-MvXoMNdbr_WT8Xd"><img style="border-radius: 50%; " src="https://images.genius.com/8986276769bf820148a275cdc80825f5.1000x1000x1.jpg" class="imagen-giratoria"> </a></td>
                    </tr>

                </tbody>
            </table>
        </div>
        <a href="../../main.html" class="aedit aedit-1">Regresar</a>
    </body>
    </html>