<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Series</title>
    <link rel="stylesheet" href="../css/estilo.css">
    <link rel="stylesheet" href="../css/estiloSeries.css">
</head>
<body>

    <div class="table-container">
        <table>
            <thead>
                <tr>
                    <th>Caratula</th>
                    <th>Serie</th>
                    <th>Historia</th>
                    <th>Ambientación</th>
                    <th>Soundtrack</th>
                    <th>Ritmo</th>
                            <th>Disfrute</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="poster-cell">
                            <div class="movie-poster">
                                <div class="movie-poster-inner">
                                    <div class="movie-poster-front">
                                        <img src="https://static.wikia.nocookie.net/cyberpunk/images/c/c1/Cyberpunk_Edgerunners_Trigger_2.jpg/revision/latest?cb=20230324074932&path-prefix=es" alt="Cyberpunk">
                                    </div>
                                    <div class="movie-poster-back"><a class="aedit" href="https://www.netflix.com/mx/title/81054853"target="_blank">Cyberpunk</a></div>
                                </div>
                            </div>
                    </td>
                    <td>
                        <div class="movie-title">Cyberpunk Edgerunners< /div>
                        <div class="meta-text">
                            <strong>Estudio:</strong>    Studio Trigger<br>
                            <strong>Género:</strong> Drama<br>
                        </div>
                    </td>
                    <td><span class="rating-badge-good">9.7</span></td>
                    <td><span class="rating-badge-good">9 </span></td>
                    <td><span class="rating-badge-good">9.3</span></td>
                    <td><span class="rating-badge-good">10</span></td>
                    <td><span class="rating-badge-good">9.5</span></td>

                </tr>

                <tr>
                    <td class="poster-cell">
                            <div class="movie-poster">
                                <div class="movie-poster-inner">
                                    <div class="movie-poster-front">
                                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS831hiQGfpiTcWDATbkYC6k4rFzOYRMTY5vNlOoLfvBw&s=10" alt="The Office">
                                    </div>
                                    <div class="movie-poster-back"><a class="aedit" href="https://www.netflix.com/mx/title/70136120" target="_blank">The Office</a></div>
                                </div>
                            </div>
                    </td>
                    <td>
                        <div class="movie-title">The Office</div>
                        <div class="meta-text">
                            <strong>Estudio:</strong> Deedle-Dee<br>
                            <strong>Género:</strong> Comedia, Romance<br>
                        </div>
                    </td>
                    <td><span class="rating-badge-good">7</span></td>
                    <td><span class="rating-badge-good">9.5</span></td>
                    <td><span class="rating-badge-medium">6</span></td>
                    <td><span class="rating-badge-good">8.5</span></td>
                    <td><span class="rating-badge-good">9</span></td>

                </tr>

                <tr>
                    <td class="poster-cell">
                            <div class="movie-poster">
                                <div class="movie-poster-inner">
                                    <div class="movie-poster-front">
                                        <img src="https://upload.wikimedia.org/wikipedia/en/thumb/d/db/Girls_Band_Cry_key_visual.jpg/250px-Girls_Band_Cry_key_visual.jpg" alt="Girls Band Cry">
                                    </div>
                                    <div class="movie-poster-back"><a class="aedit" href="https://www.crunchyroll.com/es/series/G1XHJV0W8/girls-band-cry" target="_blank">Girls Band Cry</a></div>
                                </div>
                            </div>
                    </td>
                    <td>
                        <div class="movie-title">Girls Band Cry</div>
                        <div class="meta-text">
                            <strong>Estudio</strong> Toei Animation<br>
                            <strong>Género:</strong> Drama, Romance<br>
                        </div>
                    </td>
                    <td><span class="rating-badge-good">8.5</span></td>
                    <td><span class="rating-badge-good">8</span></td>
                    <td><span class="rating-badge-good">9.3</span></td>
                    <td><span class="rating-badge-medium">7</span></td>
                    <td><span class="rating-badge-good">8.9</span></td>

                </tr>
            </tbody>
        </table>
    </div>
    <a href="../../main.html" class="aedit aedit-1" style="height: 60px;">Regresar</a>
</body>
</html>