body {
    font-size: 20px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #212529; 
    background-size: cover;
    background-image: linear-gradient(rgba(0, 0, 0, 0.85)), url(https://wallpapers.com/images/featured/1920x1080-full-hd-ytz8977xpm7jtjvc.jpg);
    color: #ffffff;
}
h1 { font-size: 2rem; color: #ffffff; }
h2 { font-size: 1.4rem; color: #ffffff; }
h3 { font-size: 1rem; color: #ffffff; }
header { width: 100%; max-width: 800px; margin-bottom: 40px; text-align: center;}
nav ul { list-style: none;}
nav ul li { display: inline;}